//-- SCROLL HORIZONTAL ------------------------------------------------------

//----------------------------------------------------------------------------------

.images-BD {
  width: 425px;
  display: flex;
}

.toute-les-images-BD {
  display: flex;
}

//----------------------------------------------------------------------------------

//-- SCROLL HORIZONTAL ------------------------------------------------------

//----------------------------------------------------------------------------------
