video {
  width: 100%; /* Prend toute la largeur de l'écran */
  height: auto; /* Garde le ratio d'aspect */
  display: block; /* Évite les espaces en bas */
  margin-top: 176;
  margin-bottom: 263px;
}
