* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // ----
  // Futura PT Book
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  // Futura PT Book Oblique
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: italic;
  // Futura PT Heavy
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  // Futura PT Heavy Oblique
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: italic;
  // Futura PT Bold
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  // Futura PT Bold Oblique
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: italic;
  // ------
  // Pedestria MVB Bold
  font-family: "pedestria-mvb", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

// ----------- colone de couleur : bootstrap------------------------------------------------

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

// ---------------------------------------------------------------------------------------

h1 {
  font-family: "pedestria-mvb", sans-serif;
  font-weight: 700;
  font-style: normal;
}

// ---------------------------------------------------------------------------------------

.container {
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

// ---------------------------------------------------------------------------------------

.livres {
  max-width: 460px;
}

//----
.livre-de-vente {
  max-width: 658px;
}

.section-achat {
  margin-top: 62px;
  margin-bottom: 324px;
}

.images-BD {
  width: 425px;
  display: flex;
}

.toute-les-images-BD {
  display: flex;
}
//----

.arriere-plan {
  background-image: url("../img/payasage vide tintin.jpg");
  min-height: 887px;
}

.bouton {
  background-color: #ffd300; /* Couleur de fond jaune */
  color: black; /* Couleur du texte noir */
  border: 1px solid black; /* Bord noir de 1px */
  padding: 12px 50px; /* Espacement intérieur */
  text-align: center; /* Centrer le texte */
  text-decoration: none; /* Pas de soulignement */
  display: inline-block; /* Pour le rendre cliquable */
  cursor: pointer; /* Changer le curseur au survol */
  transition: transform 0.3s; /* Transition pour l'agrandissement */
}

.bouton:hover {
  transform: scale(1.1); /* Agrandir le bouton au survol */
  background-color: #ffd300; /* Couleur au survol (optionnel) */
}

// --------

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Couleur de fond */
  // padding: 20px;
  // overflow-x: hidden; /* Masque le débordement horizontal */
}

.boc {
  display: flex; /* Utiliser flexbox pour aligner les boîtes côte à côte */
  flex-wrap: nowrap;
  justify-content: space-between; /* Espacement entre les boîtes */
}

.commentaire {
  background-color: #ffd300; /* Couleur de fond de la boîte de commentaire */
  border: 1px solid #0d0d0d; /* Bord de la boîte */
  width: 330px; /* Largeur fixe */
  height: 188px; /* Hauteur fixe */
  padding: 20px; /* Espacement intérieur augmenté */
  margin-bottom: 20px; /* Espacement entre les boîtes */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre */
  overflow: hidden; /* Éviter le débordement du texte */
}

.header {
  display: flex; /* Utiliser flexbox pour aligner les éléments */
  justify-content: space-between; /* Espacement entre les éléments */
  align-items: center; /* Centrer verticalement */
}

.etoiles {
  font-size: 20px; /* Taille de la notation par étoiles */
}

.profil {
  display: flex; /* Utiliser flexbox pour aligner l'icône et le nom */
  align-items: center; /* Centrer verticalement */
}

.icon {
  width: 30px; /* Largeur de l'icône de profil */
  height: 30px; /* Hauteur de l'icône de profil */
  border-radius: 50%; /* Arrondir l'icône */
  margin-right: 10px; /* Espacement entre l'icône et le nom */
}

.nom {
  font-weight: bold; /* Mettre le nom en gras */
}

.texte {
  margin-top: 10px; /* Espacement entre l'en-tête et le texte */
  font-size: 14px; /* Taille du texte */
  line-height: 1.4; /* Hauteur de ligne pour le texte */
  overflow: hidden; /* Éviter le débordement du texte */
  text-overflow: ellipsis; /* Ajouter des points de suspension si le texte déborde */
  display: -webkit-box; /* Pour le support de l'ellipsis */
  -webkit-box-orient: vertical; /* Orientation verticale */
  -webkit-line-clamp: 4; /* Limiter à 4 lignes */
}

// -------------

___________________________________ .carousel-item {
  display: flex;
  justify-content: center;
}

.carousel-inner .col {
  padding: 0 5px;
}

//------------------------------- - -
video {
  width: 100%; /* Prend toute la largeur de l'écran */
  height: auto; /* Garde le ratio d'aspect */
  display: block; /* Évite les espaces en bas */
  margin-top: 176;
  margin-bottom: 263px;
}

//--- Bouton scroll ---------------------------- - -
// ? fonctione pas
//------------------------------- - -

//-- FOOTER ----------------------------- - -

footer {
  text-align: center;
  background-color: #1c1c1c;
  color: #fff;
  padding-top: 62px;
  padding-bottom: 22px;
  padding-right: 50px;
  padding-left: 50px;
}

.logo {
  max-width: 260px;
  margin-bottom: 105px;
  margin-left: 50px;
}

footer .logo {
  margin: 0;
  margin-bottom: 46px;
}

.box-réseaux-sociaux {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.réseaux-sociaux {
  display: flex;
  flex-wrap: nowrap;
  // margin-right: 36px;
  max-width: 66px;
  margin-bottom: 70px;
}

.bouton {
  background-color: #ffd300; /* Couleur de fond jaune */
  color: black; /* Couleur du texte noir */
  border: 1px solid black; /* Bord noir de 1px */
  padding: 12px 50px; /* Espacement intérieur */
  text-align: center; /* Centrer le texte */
  text-decoration: none; /* Pas de soulignement */
  display: inline-block; /* Pour le rendre cliquable */
  cursor: pointer; /* Changer le curseur au survol */
  transition: transform 0.3s; /* Transition pour l'agrandissement */
}

.bouton:hover {
  transform: scale(1.1); /* Agrandir le bouton au survol */
  background-color: #ffd300; /* Couleur au survol (optionnel) */
}

hr {
  width: 100%; /* Prendre toute la largeur du conteneur */
  height: 1px; /* Hauteur de la ligne */
  background-color: #fff; /* Couleur de la ligne */
  margin-bottom: 0px;
}

.lois {
  display: flex;
  justify-content: flex-end;
}
//-- NEWSLETTER ----------------------------- - -

.formulaire-container {
  padding: 20px; /* Ajout de padding pour le conteneur */
  display: flex;
  justify-content: center;
}

input[type="email"] {
  padding: 12px;
  width: 250px;
  border: 1px solid black; /* Bordure noire de 1px */
  margin-right: 0; /* Pas de marge entre le champ et le bouton */
  height: 66px; /* Hauteur du champ de texte */
}

.bouton-newsletter {
  background-color: #ffd300; /* Couleur de fond jaune */
  color: black; /* Couleur du texte noir */
  border: 1px solid black; /* Bord noir de 1px */
  padding: 12px 50px; /* Espacement intérieur */
  text-decoration: none; /* Pas de soulignement */
  cursor: pointer; /* Changer le curseur au survol */
  transition: transform 0.3s; /* Transition pour l'agrandissement */
  display: flex;
  align-items: center;
}

.bouton-newsletter:hover {
  transform: scale(1.1); /* Agrandir le bouton au survol */
  background-color: #ffd300; /* Couleur au survol (optionnel) */
}

//------------------------------- - -

//-- barre de progression ----------------------------- - -
#progress-container {
  position: fixed;
  top: 26px;
  left: 20px;
  right: 20px;
  height: 10px; /* Augmentez la hauteur pour la bordure */
  background-color: #211f1f; /* Couleur de fond de la bordure */
  z-index: 1000;
  border-radius: 5px; /* Arrondi des angles de la bordure */
  padding: 2px; /* Ajoute de l'espace autour de la barre jaune */
}

#progress-bar {
  height: 100%;
  background-color: rgb(230, 192, 0);
  transition: width 0.1s ease;
  border-radius: 5px; /* Arrondi des angles de la barre jaune */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optionnel : ajoute une ombre pour le style */
}

#progress-icon {
  position: absolute;
  top: -15px; /* Ajustez selon vos besoins pour que la fusée soit bien visible */
  height: 40px; /* Agrandir la taille de la fusée (20px x 2) */
  transition: left 0.1s ease; /* Animation de mouvement */
}
//------------------------------- - -

//-- alignement ----------------------------- - -
.centrale {
  display: flex;
  justify-content: center;
}

.droite {
  display: flex;
  justify-content: right;
  margin-right: 50px;
}

.gauche {
  display: flex;
  justify-content: left;
}
//------------------------------- - -

//-- Main ----------------------------- - -

main {
  margin: 50px;
}
//------------------------------- - -

//------------------------------- - -

//------------------------------- - -
//------------------------------- - -
