//-- PROGRAMME DE BASE - NE PAS TOUCHER ! ------------------------------------------------------

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

//----------------------------------------------------------------------------------

// -- TEXTE-TITRE -------------------------------------------------------------------------------------

h1 {
  font-family: "pedestria-mvb", sans-serif;
  font-weight: 700;
  font-style: normal;
}
//----------------------------------------------------------------------------------

//-- FOOTER -------------------------------------------------------------------------------------

footer {
  text-align: center;
  background-color: #1c1c1c;
  color: #fff;
  padding-top: 62px;
  padding-bottom: 22px;
  padding-right: 50px;
  padding-left: 50px;
}

.logo {
  max-width: 260px;
  margin-bottom: 105px;
  margin-left: 50px;
}

footer .logo {
  margin: 0;
  margin-bottom: 46px;
}

.box-réseaux-sociaux {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.réseaux-sociaux {
  display: flex;
  flex-wrap: nowrap;
  // margin-right: 36px;
  max-width: 66px;
  margin-bottom: 70px;
}

li a {
  color: #fff;
}

.lien-propos {
  text-align: left;
  margin-left: 120px;
}

hr {
  width: 100%; /* Prendre toute la largeur du conteneur */
  height: 1px; /* Hauteur de la ligne */
  background-color: #fff; /* Couleur de la ligne */
  margin-bottom: 0px;
}

.lois {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: #fff;
}

.box-lois {
  display: flex;
  justify-content: end;
}

//----------------------------------------------------------------------------------

//-- MAIN ALIGNEMENT ------------------------------------------------------

main {
  margin: 50px;
}

//----------------------------------------------------------------------------------

//-- livre edition -------------------------------------------------------------------------------

// body {
//   margin: 0;
//   background-color: black;
//   overflow: hidden;
// }

// .custom-carousel {
//   position: relative;
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .custom-carousel img {
//   max-width: 100%;
//   max-height: 100%;
//   display: none;
//   position: absolute;
// }

// .custom-carousel img.custom-active {
//   display: block;
// }

// .custom-button-container {
//   position: absolute;
//   bottom: 20px;
//   text-align: center;
//   width: 100%;
// }

// .custom-button-container button {
//   padding: 10px 20px;
//   font-size: 16px;
//   background-color: white;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
//   transition: background-color 0.3s;
// }

// .custom-button-container button:hover {
//   background-color: gray;
// }
