* {
  // ---- TEXTE ----------------------------------------

  // Futura PT Book
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  // Futura PT Book Oblique
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: italic;
  // Futura PT Heavy
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  // Futura PT Heavy Oblique
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: italic;
  // Futura PT Bold
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  // Futura PT Bold Oblique
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: italic;

  // ---- TITRE ----------------------------------------

  // Pedestria MVB Bold
  font-family: "pedestria-mvb", sans-serif;
  font-weight: 700;
  font-style: normal;
}
