// -- ACCEUIL IMAGE ARRIERE PLAN -------------------------------------------------------------------------------------

.arriere-plan {
  background-image: url("../img/payasage vide tintin.jpg");
  min-height: 887px;
}

//----------------------------------------------------------------------------------

//-- ALIGNEMENT -------------------------------------------------------------------------------------

.centrale {
  display: flex;
  justify-content: center;
}

.droite {
  display: flex;
  justify-content: right;
  margin-right: 50px;
}

.gauche {
  display: flex;
  justify-content: left;
}
//----------------------------------------------------------------------------------

// -- BOX ALIGNEMENT -------------------------------------------------------------------------------------

.container {
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

// ---------------------------------------------------------------------------------------
